<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Заголовок данной страницы</h1>
<p>Текст страницы</p>
<div class="container">
<h2>Заголовок блока див</h2>
    <p>Текст блока див, после слова на букву ф - будет следовать следующий абзац. Флекс!</p>
    <p>Ха-ха, я же говорила :)</p>
    <a href="hhtps://vk.com">Тык сюда для авторизации</a>
    <img src="https://static4.buysellads.net/uu/1/52881/1568976552-ohshit-cover-carbon.png" alt="Что-то про гит">


    <ul>
        <li>Тут будут стоять точки</li>
        <li>Тут будут стоять точки</li>
        <li>Тут будут стоять точки</li>
        <li>Тут будут стоять точки</li>
    </ul>

    <ol>
        <li>Здесь будут цифры</li>
        <li>Здесь будут цифры</li>
        <li>Здесь будут цифры</li>
        <li>Здесь будут цифры</li>
        <li>Здесь будут цифры</li>
    </ol>
</div>

<div>
    <form action="/submit" method="post">
        <input type="text" name="username">
        <button type="submit">Отправить</button>
    </form>
</div>
</body>
</html>